cpu.pprof
cpu.trace
test
bin
vendor
*.fastq
*.fasta

/obiconvert
/obicount
/obimultiplex
/obipairing
/obipcr
/obifind
/obidistribute
/obiuniq
/build
/Makefile.old
.Rproj.user
obitools.Rproj
Stat_error.knit.md
.Rhistory
Stat_error.nb.html
Stat_error.Rmd
doc/_main.log
doc/_book/_main.tex
